@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author: Alexander Orendain   
   Date: 11.28.18    
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/


/* Underneath, I have made it so that when a user wants to print off the page, the footer, navigation lists, and article elements won't be present. Pretty much the only things that will be present are the website logo, the comic book title, and the actual comic book pages themselves.  */
/* Hidden Objects */
nav,
footer,
article {
    display: none;
}

/* In the lines of code underneath, I have made it so that the section with the distinguisher of the sheet id will have a certain with and will be centered within the page itself. I have also given certain images certain sizes so that the page will actually look like comic book pages. Some images are bigger/smaller than others. */
/* Comic Book Sheet Styles */
section#sheet {
    width: 6in;
    margin-top: 0in;
    margin-bottom: 0in;
    margin-right: auto;
    margin-left: auto;
}

img.size1 {
    width: 5in;
}

img.size2 {
    width: 3in;
}

img.size3 {
    width: 2in;
}

img.size4 {
    width: 1.5in;
}